<h1>Blogs一覧</h1>

<table>
  <% @blogs.each do |blog| %>
  <tr>
    <th>ユーザー名</th>
    <td><%= blog.user.name %></td>
  </tr>
  <tr>
    <th>画像</th>
    <td><%= image_tag(blog.img.url) %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= blog.title %></td>
  </tr>
  <tr>
    <th>内容</th>
    <td><%= blog.content %></td>
  </tr>
  <td><%= link_to 'Show', blog %></td>
  <% if current_user.id == blog.user_id %>
  <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
  <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>