<h1>お気に入り一覧</h1>

<table>
    <% @favorites.each do |favorite| %>
    <tr>
        <th>ユーザー名</th>
        <td><%= favorite.picture.user.name %></td>
    </tr>
    <tr>
        <th>画像</th>
        <td><%= image_tag(favorite.picture.img.url) %></td>
    </tr>
    <tr>
        <th>タイトル</th>
        <td><%= favorite.picture.title %></td>
    </tr>
    <tr>
        <th>内容</th>
        <td><%= favorite.picture.content %></td>
    </tr>

    <% end %>
</table>
<br>
<%= link_to "Profileへ戻る", user_path(current_user.id) %>