<!DOCTYPE html>
<html>

<head>
  <title>InstaPost</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <p>Insta Post</p>
  </header>
  <div class="container">
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
    <%= link_to "Profile", user_path(current_user.id) %>
    <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </div>
  <footer>
    <p>Insta Post ©︎2021 Yasuda Inc.</p>
  </footer>
</body>

</html>